body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif ;
    margin: 0;
  }
  
  section {
    margin: 0 2px;
  }
  
  section.full-screen {
    margin: 0;
  }

/* try hamburger menu using javascript (still testing)
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  } */
  
  nav {
    position: static;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 0px solid black;
  }
  
  nav > ul {
    margin-left: auto;
    margin-right: 18px;
  }
  
  nav > ul > li {
    display: inline-block;
  }
  
  span > img {
    height: 30px;
    width: 30px;
    padding: 8px;
  }
  
  span {
    display: flex;
    align-items: center;
  }
  
  header {
    text-align: center;
    color: white;
    background-color:black;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
  }
  
  .relative-container {
    position: fixed;
  }
  
  header h1 {
    margin: 16px;
  }
  
  header p {
    margin: 0;
  }
  
  img {
    width: 100%;
  }
  
  h2 {
    text-align: center;
  }

  #Our-Courses .flex-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    grid-auto-rows: 240px 240px;
  }

  #Our-Courses .grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grid-container #item-1 {
    grid-column: 1/2 span;
    grid-row: 1;
  }

  #section-video .flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #why-choose-us .flex-container figure{
    text-align: center;
  }

  #why-choose-us .flex-container img{
    height: 240px;
    width: auto;
  }
  
  
  fieldset {
    margin: 16px 0;
    border-radius: 4px;
  }

  input[type="text"],
  input[type="number"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 4px 4px;
    margin: 8px 0;
    display: block;
  }
  
  #form-section {
    background-color: white;
    color: black;
    padding: 8px;
    margin-top: 20px;
  }
  
  #form-section form {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  
  button[type="submit"] {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }